<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="details">
      <div class="details_row">
        <el-row :gutter="10">
          <el-col :span="6">商品基本信息</el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="10"
            ><span>名称</span> : <span>{{ details.name }}</span>
          </el-col>
          <el-col :span="7"
            ><span>标题</span> : <span>{{ details.subtitle }}</span>
          </el-col>
          <el-col :span="7"
            ><span> 商品分类</span> : <span>{{ classify }}</span>
          </el-col>
        </el-row>
        <el-row :gutter="24">
          <el-col :span="10">
            <span>价格</span> : <span>{{ details.price | formatmprice }}</span>
          </el-col>
          <el-col :span="7"
            ><span>上架状态</span> :
            <span v-if="details.status == '1'">上架</span>
            <span v-if="details.status == '2'">下架</span>
          </el-col>
          <el-col :span="7"
            ><span>库存</span> : <span>{{ details.stock }}</span></el-col
          >
        </el-row>
      </div>
      <div class="details_p">
        <p>商品基本信息</p>
        <p class="p2" v-html="details.detail"></p>
      </div>
    </div>
    <kong></kong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "商品",
        third: "商品列表",
        four: "商品详情",
        url : { path: "/goods" }
      },
      details: [],
      classify: "",
    };
  },
  filters: {
    formatmprice(val) {
      return "￥" + val;
    },
  },
  methods: {
    async getDetails() {
      const res = await this.$axios(
        `manage/product/detail.do?productId=${this.$route.query.goodsId}`
      );
      this.details = res.data;
      this.getFenLei();
      console.log(this.details);
    },
    async getFenLei() {
      let Id = "";
      if (this.details.parentCategoryId == 0) {
        Id = this.details.categoryId;
        if (!/^1000/.test(Id)) {
          this.classify = "无";
        } else {
          const res = await this.$axios(
            "/manage/category/get_category.do?categoryId=0"
          );
          console.log(res);
          res.data.forEach((item) => {
            if (item.id == Id) {
              this.classify += item.name;
            }
          });
        }
      } else {
        
        Id = this.details.parentCategoryId;
        const res = await this.$axios(
          "/manage/category/get_category.do?categoryId=0"
        );
        res.data.forEach((item) => {
          if (item.id == Id) {
            this.classify += item.name;
          }
        });
        const res1 = await this.$axios(
          `/manage/category/get_category.do?categoryId=${Id}`
        );
        res1.data.forEach((item) => {
          if (item.id == this.details.categoryId) {
            this.classify += "-"+item.name;
          }
        });
        console.log(res);
      }
    },
  },
  mounted() {
    this.getDetails();
  },
};
</script>

<style lang="scss" scoped>
.details {
  margin: 20px;
  padding: 40px;
  min-height: 360px;
  background-color: #ffffff;
  .el-row {
    margin-bottom: 20px !important;
  }
  .details_row {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(232, 232, 232);
    margin-bottom: 20px;
  }
  .details_p {
    p {
      margin: 10px;
    }
    .p2 {
      display: flex;
      justify-content: center;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
</style>