<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="edit">
      <div class="edit_form">
        <el-form
          ref="editFrom"
          :model="editFrom"
          :rules="rules"
          label-width="120px"
          size="small"
        >
          <el-form-item label="商品名称" prop="name">
            <el-input v-model="editFrom.name"></el-input>
          </el-form-item>
          <el-form-item label="商品描述" prop="subtitle">
            <el-input v-model="editFrom.subtitle"></el-input>
          </el-form-item>
          <el-form-item
            
            label="商品一级分类"
            prop="parentCategoryId"
          >
            <el-select v-model="oneID" placeholder="请选择">
              <el-option
                v-for="item in onelevel"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item 
          v-if="isTwo"
          label="商品二级分类" prop="categoryId">
            <el-select v-model="editFrom.categoryId" placeholder="请选择">
              <el-option
                v-for="item in twolevel"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="价格" prop="price">
            <el-input-number
              v-model="editFrom.price"
              controls-position="right"
              :min="0"
              :max="10000"
              size="mini"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="库存" prop="stock">
            <el-input-number
              v-model="editFrom.stock"
              controls-position="right"
              :min="0"
              :max="10000"
              size="mini"
            ></el-input-number>
          </el-form-item>
          <el-form-item label="上架状态" prop="status">
            <el-switch
              class="tablescope"
              active-value="2"
              inactive-value="1"
              v-model="editFrom.status"
              inactive-text="上架"
              active-text="下架"
            ></el-switch>
          </el-form-item>
          <el-form-item label="图片上传" prop="subImages">
            <el-upload
              name="upload_file"
              :file-list="imgls"
              action="/api/manage/product/upload.do"
              list-type="picture-card"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleRemove"
              :on-success="successImg"
            >
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="" />
            </el-dialog>
          </el-form-item>
          <el-form-item label="详情" prop="detail">
            <quill-editor v-model="editFrom.detail" class="myQuillEditor" />
          </el-form-item>
          <br />
          <el-button type="primary" @click="SubEdit('editFrom')"
            >提交</el-button
          >
        </el-form>
      </div>
    </div>
    <kong></kong>
  </div>
</template>

<script>
import { quillEditor } from "vue-quill-editor";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "商品",
        third: "商品列表",
        four: "修改商品",
        url : { path: "/goods" }
      },
      dialogImageUrl: "",
      dialogVisible: false,
      imageHost: "http://img.happymmall.com/",
      imgls: [],
      editFrom: {
        name: "",
        subtitle: null,
        price: null,
        stock: null,
        status: null,
        detail: "",
        parentCategoryId: null,
        subImages: "",
        categoryId: null,
        id: null,
      },
      oneID:"",
      isTwo : false,
      onelevel: [],
      twolevel: [],
      rules: {
        name: [{ required: true, message: "请输入商品名称", trigger: "blur" }],
        price: [{ required: true, message: "请输入商品价格", trigger: "blur" }],
        detail: [
          { required: true, message: "请输入商品详情", trigger: "blur" },
        ],
        subtitle: [
          { required: true, message: "请输入商品描述", trigger: "blur" },
        ],
        stock: [{ required: true, message: "请输入商品库存", trigger: "blur" }],
      },
    };
  },
  components: {
    quillEditor,
  },
   watch:{
        oneID:{//深度监听，可监听到对象、数组的变化
            handler(val, oldVal){
               if (oldVal!="") {
                  this.isTwo = true
                 this.getTwolevel(val);
               }
              console.log(oldVal)
            },
            deep:true
        }
    },
  methods: {
    successImg(response) {
      this.$message({
        type: "success",
        message: "图片上传成功",
      });
      this.editFrom.subImages += "," + response.data.uri;
      console.log(this.editFrom.subImages);
    },
    async getOnelevel() {
      const res = await this.$axios(
        "/manage/category/get_category.do?categoryId=0"
      );
      this.onelevel = res.data;
    },
    async getTwolevel(id) {
      const res = await this.$axios(
        `/manage/category/get_category.do?categoryId=${id}`
      );
      this.twolevel = res.data;
    },
    async getGoods() {
      const res = await this.$axios(
        `manage/product/detail.do?productId=${this.$route.query.goodsId}`
      );
      this.editFrom = res.data;
      if (this.editFrom.parentCategoryId == 0 && this.editFrom.categoryId>0) {
        this.oneID = this.editFrom.categoryId
      }else{
        this.oneID = this.editFrom.parentCategoryId
      }
       this.getOnelevel();
      if (this.editFrom.categoryId>1000) {
        this.isTwo=true
         this.getTwolevel(this.editFrom.parentCategoryId);
      }
      this.getImgs();
     
     
    },
    async getImgs() {
      let imgs = this.editFrom.subImages.split(",");
      imgs.forEach((item) => {
        item = this.imageHost + item;
        this.imgls.push({ url: item });
      });
    },
    async SubEdit(val) {
      console.log(1111);
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          const obj = new FormData();
          obj.append("name", this.editFrom.name);
          obj.append("subtitle", this.editFrom.subtitle);
          obj.append("price", this.editFrom.price);
          obj.append("stock", this.editFrom.stock);
          obj.append("status", this.editFrom.status);
          obj.append("detail", this.editFrom.detail);
          obj.append("levelOneCategoryId", this.oneID);
          obj.append("levelTwoCategoryId", this.editFrom.categoryId);
          obj.append("subImages", this.editFrom.subImages);
          obj.append("categoryId", this.editFrom.categoryId);
          obj.append("id", this.editFrom.id);
          const res = await this.$axios("manage/product/save.do", obj, "POST");
          this.$message({
            type: "success",
            message: res.data,
          });
        } else {
          this.$message({
            type: "error",
            message: "表单校验失败",
          });
        }
      });
    },
    handleRemove(file, fileList) {
      this.$message({
        type: "success",
        message: "图片删除成功",
      });
      let img = file.url.split("/");
      img = img[img.length - 1];
      let oldimgs = this.editFrom.subImages.split(",");
      let i = oldimgs.findIndex((x) => x === img);
      this.editFrom.subImages = oldimgs.splice(i, 1).join(",");
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
  },
  mounted() {
    this.getGoods();
  },
};
</script>

<style lang="scss" >
.tablescope {
  .el-switch__label--left {
    position: relative;
    left: 60px;
    color: #fff;
    z-index: -1111;
  }
  .el-switch__core {
    width: 60px !important;
  }
  .el-switch__label--right {
    position: relative;
    right: 60px;
    color: #fff;
    z-index: -1111;
  }
  .el-switch__label--right.is-active {
    z-index: 1111;
    color: #fff !important;
  }
  .el-switch__label--left.is-active {
    z-index: 1111;
    color: #9c9c9c !important;
  }
}
.edit {
  background-color: white;
  margin: 10px;
  padding: 40px;
  min-height: 360px;
  .edit_form {
    margin: 0 auto;
    width: 500px;
  }
}
</style>