<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="core">
      <el-row :gutter="24">
        <el-col :span="21">
          关键词 :
          <el-input size="small" style="width: 300px" v-model="params.productName" placeholder=""></el-input>
        </el-col>
        <el-col :span="3">
          <el-button size="small"  @click="GetproductName" type="primary">搜素</el-button>
          <el-button size="small" plain @click="params.productName=''">清空</el-button>
        </el-col>
      </el-row>
      <el-row class="magin" :gutter="10">
        <el-col :span="6">
          <el-button size="small" type="primary" @click="addForm">新增</el-button>
        </el-col>
      </el-row>
      <el-table :data="tabaData.list" style="width: 100%">
        <el-table-column prop="name" label="名称" width="620">
        </el-table-column>
        <el-table-column prop="subtitle" label="标题" width="140">
        </el-table-column>
        <el-table-column label="价格" width="100">
          <template scope="scope">
            {{ scope.row.price | formatmprice }}
          </template>
        </el-table-column>
        <el-table-column prop="status" label="商品状态" width="180">
          <template scope="scope">
            <p v-if="scope.row.status == '1'">
              在售
              <el-button
                style="margin-left: 15px"
                size="medium"
                plain
                @click="SetSatus(scope.row)"
                >设置下架</el-button
              >
            </p>
            <p v-if="scope.row.status >= '2'">
              已下架<el-button
                style="margin-left: 5px"
                size="medium"
                plain
                @click="SetSatus(scope.row)"
                >设置上架</el-button
              >
            </p>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="slot">
            <a @click="Details(slot.row)"> 查看详情</a> |
          
          <a @click="editGoods(slot.row)"> 编辑</a>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="current"
        :current-page="params.pageNum"
        background
        layout="prev, pager, next"
        :total="tabaData.total"
      >
      </el-pagination>
    </div>
    <kong></kong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "商品",
        third: "商品列表",
      },
      params: {
        pageSize: 10,
        pageNum: 1,
        productName: "",
      },
      tabaData: [],
    };
  },
  filters: {
    formatmprice(val) {
      return "￥" + val;
    },
  },
  methods: {
    addForm(){
       this.$router.push({name:'AddGood'})
    },
    Details(row){
      this.$router.push({name:'Details',query:{goodsId:row.id}})
    },
    editGoods(row){
      this.$router.push({name:'EditGoods',query:{goodsId:row.id}})
    },
    async GetproductName(){
      this.params.productName = this.params.productName.trim()
      if (this.params.productName == "") {
        this.getGoods();
      }else{
         const res = await this.$axios('manage/product/search.do',{},"GET",this.params)
      this.tabaData = res.data
      }
     
    },
    async current(val) {
      this.params.pageNum = val;
      if (this.params.productName == "") {
        this.getGoods();
      }else{
        this.GetproductName()
      }
      
    },
    async SetSatus(row) {
      var sts = "";
      if (row.status == "1") {
        sts = 2;
      }else if (row.status == "2") {
        sts = 1;
      }else{
        sts = 1;
      }
      
      const obj = new FormData();
      obj.append("productId", row.id);
      obj.append("status", sts);
      const res = await this.$axios(
        "manage/product/set_sale_status.do",
        obj,
        "POST",
      );
      this.getGoods();
    },
    async getGoods() {
      const headers = { "Content-Type": "multipart/form-data" };
      const res = await this.$axios(
        "manage/product/list.do",
        {},
        "GET",
        this.params,
        headers
      );
      this.tabaData = res.data;
    },
  },
  mounted() {
    this.getGoods();
  },
};
</script>

<style lang="scss" scoped>
.core {
  margin: 20px;
  padding: 40px;
  min-height: 360px;
  background-color: #ffffff;
  a {
    color: #1890ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  a:nth(0) {
    display: inline-block;
    margin-right: 5px;
  }
  
  .magin {
    margin: 20px 0;
  }
}
</style>