<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="core">
      <el-row :gutter="24">
        <el-col :span="20">
          订单号 :
          <el-input
            size="small"
            style="width: 300px"
            v-model="orderNumber"
            placeholder="请输入订单编号查询"
          ></el-input>
        </el-col>
        <el-col :span="4">
          <el-button size="medium"  @click="getOneorder" type="primary"
            >搜素</el-button
          >
          <el-button size="medium" plain @click="orderNumber = ''"
            >清空</el-button
          >
        </el-col>
      </el-row>
      <el-table :data="tabaData.list" style="width: 100%">
        <el-table-column prop="orderNo" label="订单号" width="212">
        </el-table-column>
        <el-table-column prop="receiverName" label="收件人" width="180">
        </el-table-column>
        <el-table-column prop="paymentTypeDesc" label="订单状态" width="180">
        </el-table-column>
        <el-table-column label="订单总价" width="180">
          <template scope="scope">
            {{ scope.row.payment | formatmprice }}
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="280">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="slot">
            <a @click="OrderDetails(slot.row)"> 查看详情</a>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @current-change="current"
        :current-page="params.pageNum"
        background
        layout="prev, pager, next"
        :total="tabaData.total"
      >
      </el-pagination>
    </div>
    <kong></kong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "订单",
        third: "订单管理",
      },
      params: {
        pageSize: 10,
        pageNum: 1,
      },
      tabaData: [],
      orderNumber: "",
    };
  },
  filters: {
    formatmprice(val) {
      return "￥" + val;
    },
  },
  methods: {
    OrderDetails(row) {
      this.$router.push({ name: "OrderDetails", query: { orderNo: row.orderNo } });
    },

    async getOneorder() {
      if (this.orderNumber == "") {
        this.getOrder();
      } else {
        const res = await this.$axios(
          `manage/order/search.do?orderNo=${this.orderNumber}`
        );
        console.log(res.data);
        if (res.data) {
          this.tabaData = res.data;
        } else {
          this.$message({
            type: "error",
            message: res.msg,
          });
        }
      }
    },
    async current(val) {
      this.params.pageNum = val;
      this.getOrder();
    },

    async getOrder() {
      const res = await this.$axios(
        "manage/order/list.do",
        {},
        "GET",
        this.params
      );
      this.tabaData = res.data;
    },
  },
  mounted() {
    this.getOrder();
  },
};
</script>

<style lang="scss" scoped>
.core {
  margin: 20px;
  padding: 40px;
  min-height: 360px;
  background-color: #ffffff;
  a {
    color: #1890ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  a:nth(0) {
    display: inline-block;
    margin-right: 5px;
  }

  .magin {
    margin: 20px 0;
  }
}
</style>