<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="core">
      <p class="margin_b">订单基本信息</p>
      <el-row class="margin_b" :gutter="24">
        <el-col :span="8">订单号 : {{ tabaData.orderNo }} </el-col>
        <el-col :span="8">创建时间 : {{ tabaData.createTime }} </el-col>
        <el-col :span="8">支付状态 : {{ tabaData.statusDesc }} </el-col>
      </el-row>
      <el-row class="margin_b_40" :gutter="10">
        <el-col :span="8">支付方式 : {{ tabaData.paymentTypeDesc }} </el-col>
        <el-col :span="8">订单金额 : {{ tabaData.payment | formatmprice }} </el-col>
      </el-row>
      <el-divider></el-divider>
      <p class="margin_b">收件人信息</p>
      <el-row v-if="recipients" class="margin_b" :gutter="24">
        <el-col :span="8">收件人 : {{ recipients.receiverName }} </el-col>
        <el-col :span="8"
          >联系电话 :
          {{ recipients.receiverPhone ? recipients.receiverPhone : "无" }}
        </el-col>
        <el-col :span="8">收货地址 : {{ recipients | addressee }} </el-col>
      </el-row>
      <el-row v-if="recipients" class="margin_b_40" :gutter="10">
        <el-col :span="8">邮政编码 : {{ recipients.receiverZip }} </el-col>
      </el-row>
      <el-divider></el-divider>
      <p class="margin_b">商品信息</p>
      <el-table :header-cell-style="{background:'#eee',color:'black'}" :data="tabaData.orderItemVoList" style="width: 100%">
        <el-table-column prop="productImage" label="名称" width="420">
          <template slot-scope="slot">
              <img style="width:100px;height:100px" :src="tabaData.imageHost + slot.row.productImage" alt="">
          </template>
        </el-table-column>
        <el-table-column prop="productName" label="名称" width="380">
        </el-table-column>
        <el-table-column prop="currentUnitPrice" label="单价" width="120">
        </el-table-column>
        <el-table-column prop="quantity" label="数量" width="120">
        </el-table-column>
        <el-table-column prop="totalPrice" label="总价" >
        </el-table-column>
      </el-table>
    </div>
    <kong></kong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "订单",
        third: "订单管理",
        four: "订单详情",
      },
      params: {
        pageSize: 10,
        pageNum: 1,
      },
      tabaData: [],
      recipients: null,
      orderNumber: "",
    };
  },

  methods: {
    async getList() {
      const res = await this.$axios(
        `manage/order/detail.do?orderNo=${this.$route.query.orderNo}`,
        {},
        "GET",
        this.params
      );
      this.tabaData = res.data;
      this.recipients = res.data.shippingVo;
    },
  },
  filters: {
    addressee(val) {
      return (
        val.receiverProvince +
        "-" +
        val.receiverCity +
        "-" +
        val.receiverAddress
      );
    },
    formatmprice(val) {
      return "￥" + val;
    },
  },
  mounted() {
    this.getList();
  },
};
</script>

<style lang="scss" scoped>
.core {
  margin: 20px;
  padding: 40px;
  min-height: 360px;
  background-color: #ffffff;
  .margin_b {
    margin-bottom: 20px;
  }
  .margin_b_40 {
    margin-bottom: 40px;
  }
  a {
    color: #1490ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  a:nth(0) {
    display: inline-block;
    margin-right: 5px;
  }

  .magin {
    margin: 20px 0;
  }
}
</style>