<template>
  <el-container class="home" style="height: 100vh">
    <el-aside
      style="width: 200px; background-color: rgb(0, 21, 41); overflow-x: hidden"
    >
      <h3 class="home-logo"></h3>
      <el-menu
        :collapse="isCollapse"
        :default-active="defaultActive"
        style="width: 200px"
        background-color="#001529"
        active-text-color="#FFFFFF"
        router
        unique-opened
        text-color="hsla(0,0%,100%,.65)"
      >
        <el-submenu
          :index="'' + index"
          v-for="(item, index) in menus"
          :key="index"
          id="el_submenu"
        >
          <template slot="title">
            <i v-if="item.authName == '订单'" class="el-icon-pie-chart"></i>
            <i v-else-if="item.authName == '用户'" class="el-icon-s-custom"></i>
            <i v-else class="el-icon-user"></i>
            {{ item.authName }}
          </template>
          <el-menu-item
            :index="'/' + _item.path"
            v-for="(_item, _index) in item.children"
            :key="_index"
          >
            <i class="el-icon-pie-chart"> </i>
            {{ _item.authName }}
          </el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>

    <el-container>
      <el-header class="logoheader" style="text-align: right; font-size: 12px">
        <el-dropdown style="margin: -3px 12px 0px 0px; vertical-align: middle">
          <el-avatar
            src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></el-avatar>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
              ><a href="#" @click.prevent="logout">退出</a></el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>
        <span>{{ this.$store.state.username }}</span>
      </el-header>
      <diV class="right_title">
        <ul>
          <li :key="tag.path" v-for="tag in dynamicTags" ref="li">
            <el-tag closable @click="pushrouter(tag)" @close="handleClose(tag)">
              {{ tag.name }}
            </el-tag>
          </li>
        </ul>
      </diV>
      <el-main class="home-main">
        <router-view></router-view>
      </el-main>
    </el-container>
    <div class="switch">
      <el-radio-group v-model="isCollapse" style="margin-bottom: 20px">
        <el-radio-button :label="false">展开</el-radio-button>
        <el-radio-button :label="true">收起</el-radio-button>
      </el-radio-group>
    </div>
  </el-container>
</template>

<script>
import datas from "../rights/index";
export default {
  data() {
    return {
      menus: datas,
      defaultActive: "/first",
      isCollapse: false,
      dynamicTags: [],
    };
  },
  watch: {
    $route: {
      deep: true,
      immediate: true,
      handler(current) {
        this.getTitle(current);
        if (/^\/goods/.test(current.path)) {
          this.defaultActive = "/goods";
        } else if (/^\/category/.test(current.path)) {
          this.defaultActive = "/category";
        } else if (/^\/orders/.test(current.path)) {
          this.defaultActive = "/orders";
        } else {
          this.defaultActive = current.path;
        }
      },
    },
  },

  methods: {
    handleClose(tag) {
      let index = this.dynamicTags.indexOf(tag);
      this.dynamicTags.splice(index, 1);
    },
    pushrouter(tag) {
      if (this.$refs.li) {
        this.$refs.li.forEach((item) => {
        let sname = item.innerText;
        if (tag.name == sname.trim()) {
          item.className = "noactive";
          this.$router.push({ path: tag.path });
        } else {
          item.className = "active";
        }
      });
      }
    },
    isshow() {
      if (this.dynamicTags.length > 0) {
        this.dynamicTags.forEach((item) => {
          this.pushrouter(item)
        });
      }else{
        return
      }
    },
    getTitle(current) {
      
      let titles = null;
      this.menus.forEach((item) => {
        item.children.forEach((val) => {
          if ("/" + val.path == current.path) {
            return (titles = val.authName);
          }
        });
      });
      var tag = { path: current.path, name: titles };
      var flag = true;
      this.dynamicTags.forEach((item) => {
        if (item.name == tag.name) {
          flag = false;
        }
      });
      if (flag) {
        this.dynamicTags.push(tag);
      }
    },
    async logout() {
      //跳转登录页面(编程式导航)
      const res = this.$axios("user/logout.do", {}, "POST");
      this.$message({
        type: "success",
        message: "退出成功",
      });
      this.$router.push({ name: "Login" });
    },
  },
  mounted() {
  },
};
</script>

<style lang="scss" scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
a {
  text-decoration: none;
  color: #333;
}
#el_submenu:hover {
  color: rgb(255, 255, 255) !important;
}
.el-menu-item:hover {
  color: #ffffff !important;
}
.el-menu-item.is-active {
  background-color: rgb(24, 144, 255) !important;
}
.home {
  font-size: 100%;
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: #333;
  }
  .home-logo {
    height: 32px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .right_title {
    width: 100%;
    background-color: rgb(201, 193, 193);
    padding: 10px;
    li:hover {
      cursor: pointer;
    }
    li {
      float: left;

      margin: 0 5px;
      .el-tag {
        color: #515a6e;
      }
    }
    .active {
      .el-tag {
        color: #515a6e !important;
      }
    }
    .noactive {
      .el-tag {
        color: #57a3f3 !important;
      }
    }
  }
  .home-main {
    background-color: #f0f2f5;
  }
  .logoheader {
    padding: 0 80px;
    .el-icon-s-fold:before {
      content: "\e7a9";
      font-size: 20px;
    }
    .el-icon-s-unfold:before {
      content: "\e7a9";
      font-size: 20px;
    }
    .logodown {
      width: calc(100vw - 333px);
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
  .switch {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: #002140;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
</style>



