<template>
  <div class="user">
    <el-row :gutter="24">
      <el-col :span="8">
        <div class="user_div" @click="pushUser">
          <div class="total">用户总数</div>
          <div class="nums">
            <p>{{ Counts.userCount | formatNumber}}</p>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="user_div" @click="pushProduct">
          <div class="total">商品总数</div>
          <div class="nums">
            <p>{{ Counts.productCount | formatNumber}}</p>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="user_div" @click="pushOrder">
          <div class="total">订单数</div>
          <div class="nums">
            <p>{{ Counts.orderCount | formatNumber }}</p>
          </div>
        </div>
      </el-col>
    </el-row>
    <kong></kong>
  </div>
</template>

<script>
export default {
  data() {
    return {
      Counts: {
        orderCount: "",
        productCount: "",
        userCount: "",
      },
    };
  },
  methods: {
    async getTotal() {
      const res = await this.$axios("manage/statistic/base_count.do");
      this.Counts = res.data
    },
    async pushUser() {
      this.$router.push({ name: "Users" });
    },
    async pushProduct() {
      this.$router.push({ name: "Goods" });
    },
    async pushOrder() {
      this.$router.push({ name: "Orders" });
    },
  },
  mounted() {
    this.getTotal();
  },
};
</script>

<style lang="scss" scoped>
.user {
  .user_div:hover {
    cursor: pointer;
  }
  .el-row {
    margin: 20px;
    padding: 40px;
    min-height: 360px;
    .el-col {
      height: 170px;
      .total {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 16px 24px 0 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        background-color: white;
        border-bottom: 2px solid #e8e8e8;
        border-radius: 2px 2px 0 0;
        zoom: 1;
        box-sizing: border-box;
      }
      .nums {
        background-color: white;
        padding: 35px 24px;
        font-size: 26px;
        font-weight: bold;
        p {
          margin-bottom: 20px;
        }
      }
    }

  }
  
}
</style>