<template>
  <div class="login">
    <div class="main">
      <el-form
        label-position="top"
        :model="Loginform"
        ref="Loginform"
        :rules="rules"
        size="small"
      >
        <el-form-item prop="username">
          <el-input v-model="Loginform.username" placeholder="账号为admin">
            <i
              slot="prefix"
              style="color: rgba(0, 0, 0, 0.65)"
              class="el-input__icon el-icon-user"
            ></i>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input v-model="Loginform.password" placeholder="密码为admin">
            <i
              slot="prefix"
              style="color: rgba(0, 0, 0, 0.65)"
              class="el-input__icon el-icon-lock"
            ></i>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            class="wdith100"
            type="primary"
            @click="subLogin('Loginform')"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  name : "Login",
  data() {
    var validateName = (rule, value, callback) => {
      let pattern = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!pattern.test(value)) {
        callback(new Error("用户名必须是4-16位"));
      } else {
        callback();
      }
    }
    return {
      Loginform: {
        username: "",
        password: "",
      },
     rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { validator: validateName, trigger: "change" },
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    }
  },
  methods: {
    subLogin(val){
      this.$refs[val].validate(async (valid)=>{
        if (valid) {
          this.$store.commit('SET_USERNAME',this.Loginform.username)
          const obj = new FormData()
          obj.append('username', this.Loginform.username)
          obj.append('password', this.Loginform.password)
          const res = await this.$axios('manage/user/login.do',obj,"POST")
          this.$router.push({name:"Home"})
          this.$message({
            message: res.msg,
            type: "success",
          });
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  .main {
    .el-form-item {
      padding: 6px 0;
    }
    width: 300px;
    .wdith100 {
      width: 100%;
    }
  }
}
</style>