<template>
  <div>
    <el-row style="margin-bottom: 20px" :gutter="10">
      <el-col :span="6">
        <el-button size="small" type="primary" @click="adddisabel = true"
          >新增</el-button
        >
      </el-col>
    </el-row>
    <el-dialog title="新增品类" :visible.sync="adddisabel" width="width">
      <el-form ref="addform" :model="addform" :rules="rules" label-width="80px">
        <el-form-item label="父级品类" prop="parentId">
          <el-select v-model="addform.parentId" placeholder="请选择">
            <el-option
              v-for="item in tabas"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="名称" prop="categoryName">
          <el-input v-model="addform.categoryName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="adddisabel = false">Cancel</el-button>
        <el-button type="primary" @click="SubAdd('addform')">OK</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  props: {
    getList: {},
    tabas:{}
  },
  data() {
    return {
      addform: {
        parentId: "",
        categoryName: "",
      },
      rules: {
        parentId: [{ required: true, message: "不能为空", trigger: "blur" }],
        categoryName: [
          { required: true, message: "品类名称不能为空", trigger: "blur" },
        ],
      },
      adddisabel: false,
    };
  },
  methods: {
    async SubAdd() {
      const obj = new FormData();
      obj.append("parentId", this.addform.parentId);
      obj.append("categoryName", this.addform.categoryName);
      const res = await this.$axios(
        "manage/category/add_category.do",
        obj,
        "POST"
      );
      this.$message({
        type: "success",
        message: res.data,
      });
      this.getList()
      this.adddisabel = false;
    },
  },
};
</script>

<style>
</style>