<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="core">
      <el-table
        :data="
          tabaData.slice((currentPage - 1) * pagesize, currentPage * pagesize)
        "
        style="width: 100%"
      >
        <el-table-column prop="name" label="名称"> </el-table-column>
        <el-table-column label="操作" width="75">
          <template slot-scope="slot">
            <a @click="editcate(slot.row)"> 修改</a>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 20, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tabaData.length"
    >
    </el-pagination>
    <el-dialog :title="title1" :visible.sync="editdisabel" width="width">
      <el-form
        ref="editform"
        :model="editform"
        :rules="rules"
        label-width="80px"
      >
        <el-form-item label="名称" prop="categoryName">
          <el-input v-model="editform.categoryName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="editdisabel = false">Cancel</el-button>
        <el-button type="primary" @click="SubEdit('editform')">OK</el-button>
      </div>
    </el-dialog>
    <kong></kong>
  </div>
</template>

<script>
import add from "@/views/categorys/add";
export default {
  data() {
    return {
      currentPage: 1, //初始页
      pagesize: 10, //    每页的数据
      title1: "",
      editdisabel: false,
      editform: {
        categoryId: 100001,
        categoryName: "大威天龙",
      },
      rules: {
        categoryName: [
          { required: true, message: "品类名称不能为空", trigger: "blur" },
        ],
      },
      breadCrumbObj: {
        second: "商品",
        third: "一级品类管理",
        four: "二级品类管理",
        url : { path: "/category" }
      },
      tabaData: [],
    };
  },
  components: {
    add,
  },
  methods: {
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.pagesize = size;
    },
    handleCurrentChange: function (currentPage) {
      this.currentPage = currentPage;
    },
    editcate(row) {
      this.editform.categoryName = row.name;
      this.editform.categoryId = row.id;
      this.title1 = `修改品类 [${row.name}] 名称`;
      this.editdisabel = true;
    },
    async SubEdit(val) {
      this.$refs[val].validate(async (valid) => {
        if (valid) {
          const obj = new FormData();
          obj.append("categoryId", this.editform.categoryId);
          obj.append("categoryName", this.editform.categoryName);
          const res = await this.$axios(
            "manage/category/set_category_name.do",
            obj,
            "POST"
          );
          this.$message({
            type: "success",
            message: res.data,
          });
          this.getCategory();
          this.editdisabel = false;
        }
      });
    },
    async getCategory() {
      const res = await this.$axios(
        `/manage/category/get_category.do?categoryId=${this.$route.query.Id}`
      );
      this.tabaData = res.data;
      console.log(this.tabaData);
    },
  },
  mounted() {
    this.getCategory();
  },
};
</script>

<style lang="scss" scoped>
.core {
  margin: 20px;
  padding: 40px;
  min-height: 360px;
  background-color: #ffffff;
  a {
    color: #1890ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  a:nth(0) {
    display: inline-block;
    margin-right: 5px;
  }
}
</style>