<template>
  <div class="heard">
    <el-breadcrumb separator="/" >
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>{{ breadCrumbObj.second }}</el-breadcrumb-item>
      <el-breadcrumb-item v-if="breadCrumbObj.four == null">{{
        breadCrumbObj.third
      }}</el-breadcrumb-item>
      <el-breadcrumb-item
        :to="breadCrumbObj.url"
        v-if="breadCrumbObj.four != null"
      >
        {{ breadCrumbObj.third }}
      </el-breadcrumb-item>
      <el-breadcrumb-item v-if="breadCrumbObj.four != ''">{{
        breadCrumbObj.four
      }}</el-breadcrumb-item>
    </el-breadcrumb>
    <h2 v-if="breadCrumbObj.four == null">{{ breadCrumbObj.third }}</h2>
    <h2 v-if="breadCrumbObj.four != null">{{ breadCrumbObj.four }}</h2>
  </div>
</template>

<script>
export default {
  props: {
    breadCrumbObj: {
      type: Object,
      four: null,
      url: {},
    },
  },
};
</script>

<style lang="scss" scoped>
.heard {
  position: relative;
  left: -20px;
  top: -20px;
  width: calc(100vw - 200px);
  height: 100px;
  padding: 20px 0 10px 30px;
  background-color: white;
  box-sizing: border-box;
}
h2 {
  margin-top: 22px;
  font-weight: 500;
  font-size: 21px;
}
</style>