<template>
  <div class="bom">
    <p>Copyright © 2020 孔令浩最棒</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>

.bom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
</style>