<template>
  <div>
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <div class="edit">
      <el-table
        style="width: 100%"
        :header-cell-style="{ background: '#eee', color: 'black' }"
        :data="tabaData.list"
      >
        <el-table-column prop="username" label="账号" width="230">
        </el-table-column>
        <el-table-column prop="phone" label="电话" width="230">
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="380">
        </el-table-column>
        <el-table-column label="注册时间" width="210">
            <template slot-scope="slot">
               {{slot.row.createTime |handleDate}}
            </template>
        </el-table-column>
        <el-table-column label="Action"> </el-table-column>
      </el-table>
    </div>
     <el-pagination
        @current-change="current"
        :current-page="params.pageNum"
        background
        layout="prev, pager, next"
        :total="tabaData.total"
      >
      </el-pagination>
    <kong></kong>
  </div>
</template>

<script>
import dayjs from "dayjs";
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "用户",
        third: "用户列表",
      },
      params: {
        pageSize: 10,
        pageNum: 1,
      },
      tabaData : []
    };
  },
  filters: {
    //时间过滤用dayjs
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD ");
    },
  },
  methods : {
    async current(val) {
      this.params.pageNum = val;
      this.getUser();
    },
    async getUser(){
      const res = await this.$axios(
        "manage/user/list.do",
        {},
        "GET",
        this.params,
      );
      this.tabaData = res.data;
    }
    //   manage/user/list.do?pageSize=10&pageNum=1
  },
  mounted() {
    this.getUser();
  },
};
</script>
<style lang="scss" scoped>
.edit {
  background-color: white;
  margin: 10px;
  padding: 40px;
  min-height: 360px;
}
</style>